doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title About Us
    link(rel='stylesheet' href='./aboutUsSCSS.scss')
    link(rel='stylesheet' href='./wickedcssSASS.scss')
  body
    // p01
    .p01
      .logo
        #logo-round.floater
          img(src='./p01/logo上.png')
        #logo-words.floater
          img(src='./p01/logo下.png')
      .group
        #group-photo
          img(src='./Img/大合照.jpg')
        .group-slogan
          #group-slogan-main
            p
              | &quot;When there is teamwork and collaboration, wonderful things can be
              | achieved.&quot; - Mattie Stepanek
      script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
      script(type='text/javascript' src='about-us.js')

      // p02
      .flexbox
        .card
          .container.down
            img.team(src='./Img/組員1.jpg' alt='組員1')
            img.fog(src='./Img/组 1.png' alt='组1-mask')
            .overlay
              .text
                img(src='./p02/Guan Hung, Liu.jpg' alt='')
                img.job(src='./p02/Engineer.jpg' alt='Engineer')
        .card
          .container
            img.team(src='./Img/組員2.jpg' alt='組員2')
            img.fog(src='./Img/组 2.png' alt='组2-mask' style='left: 602px')
            .overlay
              .text
                img(src='./p02/Bo Yan, Hsu.jpg' alt='')
                img.job(src='./p02/Designer.jpg' alt='Designer')
        .card
          .container.down
            img.team(src='./Img/組員3.jpg' alt='組員3')
            img.fog(src='./Img/组 3.png' alt='组3-mask')
            .overlay
              .text
                img(src='./p02/Yu Chen, Lai.jpg' alt='')
                img.job(src='./p02/Engineer.jpg' alt='Engineer')
        .card
          .container
            img.team(src='./Img/組員4.jpg' alt='組員4')
            img.fog(src='./Img/组 4.png' alt='组4-mask' style='left: 1372px')
            .overlay
              .text
                img(src='./p02/Po Hsun, Chang.jpg' alt='')
                img.job(src='./p02/Engineer.jpg' alt='Engineer')
      .footer
        p#BinChilling [BinChilling] 2022-
        p#SocialWebResearch
          | &copy; 2022 Social Web Research, NCKU, Tainan, Taiwan
